@model IEnumerable<WellBeings_NetCoreApp.Models.Products>

@{
    ViewData["Title"] = "Products";
}

<link rel="stylesheet" type="text/css" href="~/css/productsIndex.css" />
<script type="text/javascript" src="~/js/filter.js"></script>

<div class="row">
    <h1 class="col-lg-6 col-md-6 col-sm-6 col-xs-12">Products</h1>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <a asp-action="Create" class="btn1" style="float:right;">Create New</a>
    </div>
</div>
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Filter by name" title="Type product name">
@*<input type="text" id="myInput" onkeyup="myFunction2()" placeholder="Filter by type" title="Type product type">*@
<div class="card-form">
    <table class="table" id="myTable">
        <thead>
            <tr>
                @*<th>
                        @Html.DisplayNameFor(model => model.TypeId)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.TypeId)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @*<a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |*@
                        <a asp-action="Details" asp-route-id="@item.ProductId" class="btn1">Details</a>
                        @*<a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
